$cor1 : rgb(255, 255, 255);
$cor2 : rgba(175, 12, 175, 0.904);
$cor3 : rgb(78, 204, 78);
$cor4 : rgb(214, 214, 22);
$cor5:  rgb(65, 65, 216);
$cor6: rgb(36, 35, 35);

$font-lato: 'Lato', sans-serif;
$font-PT:'PT Sans', sans-serif; 
 